* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: 10px 2fr 5fr 10px;
  width: 100%;
  background-color: #282c34;
  min-height: 8vh;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.profile{
  grid-column: 3/4;
  text-align: right;
}
.logo{
  grid-column: 2/3;
  text-align: left;
}


body {
  display: grid;
}



.header-link {
  color: white;
}

.card-image {
  width: 250px
}

.history-list {
  list-style-type: none;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-item {
  border-left: 4px ridge;
  border-right: 4px ridge;
  border-top: 4px ridge;
  margin: 0;
  padding: 4px;
  width: 90%;
}

.history-item:last-child {
  border-bottom: 4px ridge;
}

.history-item:hover {
  background-color: mediumspringgreen;
  cursor: pointer;
}

.history-item > a {
  text-decoration: none;
  color: black;
}